  <%=form_tag "/users/" do%>
      <table class="table table-bordered">
          <thead><tr><th></th></tr></thead>
        <tbody>
          <tr>
            <th>
              姓名
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td>
              <input class="span3" id="name" name="name" type="text" required>
            </td>
            <th>
              邮箱
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td>
              <input class="span3" id="email" name="email" type="email" required>
            </td>
          </tr>

          <tr>
            <th>
              年龄
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td>
              <input class="span3" id="age" name="age" type="number" required>
            </td>
            <th>
              性别
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td>
                <select id="gender" name="gender" required>
                    <option value=""></option>
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </td>
            </td>
          </tr>
          <tr>
            <th>
              学校
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td>
              <input class="span3" id="school" name="school" type="text" required>
            </td>
            <th>
              职称
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td>
                <select id="title" name="title" required>
                    <option value=""></option>
                    <option value="院士">院士</option>
                    <option value="教授">教授</option>
                    <option value="副教授">副教授</option>
                    <option value="讲师">讲师</option>
                    <option value="研究员">研究员</option>
                    <option value="副研究员">副研究员</option>
                    <option value="助理研究员">助理研究员</option>
                    <option value="博士研究生">博士研究生</option>
                    <option value="硕士研究生">硕士研究生</option>
                    <option value="其他">其他</option>
                </select>
            </td>
          </tr>
          <tr>
            <th>
              是否理事
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td>
                <select id="syndic" name="syndic" required>
                    <option value=""></option>
                    <option value="现任常务理事">现任常务理事</option>
                    <option value="现任理事">现任理事</option>
                    <option value="非理事">非理事</option>
                </select>
            </td>
            <th>
              代表类型
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td>
                <select id="style" name="style" require>
                    <option value=""></option>
                    <option value="特邀代表">特邀代表</option>
                    <option value="会议邀请报告人">会议邀请报告人</option>
                    <option value="其他">其他</option>
                </select>
            </td>
          </tr>
          <tr>
            <th>
              到达时间
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td><input type="text" id="arrivedate" name="arrivedate" data-behaviour='datepicker' required></td>

            <script type="text/javascript">
              $(document).ready(function(){
                  $('[data-behaviour~=datepicker]').datepicker({format: 'yyyy-mm-dd'});
              })
            </script>

            <th>
              离开时间
              <div class="control-group error">
                <label class="control-label" for="inputError">(必填)</label>
              </div>
            </th>
            <td><input type="text" id="leavedate" name="leavedate" data-behaviour='datepicker' required></td>
            <script type="text/javascript">
              $(document).ready(function(){
                  $('[data-behaviour~=datepicker]').datepicker({format: 'yyyy-mm-dd'});
              })
            </script>
          </tr>
          <tr>
            <th>手机号码</th>
            <td>
              <input class="span3" id="tel" name="tel" type="text">
            </td>
            <th>电话号码</th>
            <td><%=text_field_tag "phone"%></td>
          </tr>
          <tr>
            <th>通讯地址</th>
            <td><%=text_field_tag "address"%></td>
            <th>邮政编码</th>
            <td><input class="span3" id="postcode" name="postcode" type="number"></td>
          </tr>
          <tr>
            <th>特殊需求</th>
            <td><%=text_field_tag "require"%></td>
          </tr>
        </tbody>
      </table>


      <center>
          <%=submit_tag "提交注册", class: "btn btn-primary"%>
          <a class="btn btn-danger" href="/users/new">清空表单</button>
          <a class="btn btn-info" href="/users/all">浏览已注册人员</button>
      </center>
  <%end%>
